<% include partials/header %>

<div class="container">

  <div class="col-md-12">
    <h1>Recently added</h1>

    <% if (posts.length <= 0) { %>
    <p>No images has been uploaded yet. <a href="/upload">Upload a new one</a></p>
    <% } %>


  </div>

  <% posts.forEach((post) => { %>
  <div class="col-md-3">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= post.image %>" alt="image">
      <div class="caption">
        <h3><%= post.title %></h3>
        <p><%= post.description %></p>
      </div>
    </div>
  </div>
  <% }) %>


</div>

<% include partials/footer %>